<div th:fragment="group_community" class="col-md-4">
    <div class="card z-index-0">
        <div class="card-header pt-4">
            <h6>
                <i class="fa fa-group text-primary me-2 text-sm"></i>
                <span class="text-success" th:text="#{post.label.group.community}"></span>
            </h6>
        </div>
        <div class="card-body border-top">
            <ul class="list-group text-sm">
                <li class="list-group-item">
                    <img th:src="@{/img/bruce-mars.jpg}" class="w-sm-15 rounded-circle shadow-sm"  th:alt="#{general.label.not.found}"/>
                    <a href="#" class="form-label">FC Real Madrid Indonesia</a>
                </li>
                <li class="list-group-item">
                    <img th:src="@{/img/bruce-mars.jpg}" class="w-sm-15 rounded-circle shadow-sm"  th:alt="#{general.label.not.found}"/>
                    <a href="#" class="form-label">Java Komunitas Jakarta</a>
                </li>
                <li class="list-group-item">
                    <img th:src="@{/img/bruce-mars.jpg}" class="w-sm-15 rounded-circle shadow-sm"  th:alt="#{general.label.not.found}"/>
                    <a href="#" class="form-label">Almuni SMA 1 Yogyakarta</a>
                </li>
                <li class="list-group-item">
                    <img th:src="@{/img/bruce-mars.jpg}" class="w-sm-15 rounded-circle shadow-sm"  th:alt="#{general.label.not.found}"/>
                    <a href="#" class="form-label">Komunitas Makan Bareng</a>
                </li>
            </ul>
        </div>
    </div>
</div>