<div th:fragment="posts" class="col-md-5">
    <div class="card z-index-0 mb-4">
        <form action="#">
            <div class="card-body">
                <div class="form-group">
                    <label class="col-md-12 mx-auto">
                    <textarea class="form-control" rows="4">
                    </textarea>
                    </label>
                </div>
                <button type="button" class="btn btn-sm btn-primary float-end">
                    <i class="fa fa-paper-plane"></i>
                    <span th:text="#{post.label.send}"></span>
                </button>
            </div>
        </form>
    </div>

    <div class="card z-index-0  mb-4">
        <div class="card-header">
            <span>Aant Sultan</span>
        </div>
        <div class="card-body border-top">
            <p>
                Experiment without coordinates, and we won’t yearn a mermaid.
            </p>
        </div>
        <div class="card-footer border-top">
            <div class="row text-sm">
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-heart"></i>
                        <span>Like</span>
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="#" class="offset-md-2">
                        <i class="fa fa-comment"></i>
                        <span>Comment</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="offset-md-3">
                        <i class="fa fa-share"></i>
                        <span>Share</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card z-index-0  mb-4">
        <div class="card-header">
            <span>Karim Benzema</span>
        </div>
        <div class="card-body border-top">
            <p>
                Instead of rinsing springy whiskey with noodles, use twelve pounds honey and a handfull oz radish sprouts basin.
            </p>
        </div>
        <div class="card-footer border-top">
            <div class="row text-sm">
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-heart"></i>
                        <span>5</span>
                        <span>Like</span>
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="#" class="offset-md-2">
                        <i class="fa fa-comment"></i>
                        <span>Comment</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="offset-md-3">
                        <i class="fa fa-share"></i>
                        <span>Share</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card z-index-0  mb-4">
        <div class="card-header">
            <span>Jude Bellingham</span>
        </div>
        <div class="card-body border-top">
            <p>
                The dead crew accelerative handles the pathway.
            </p>
        </div>
        <div class="card-footer border-top">
            <div class="row text-sm">
                <div class="col-md-3">
                    <a href="#">
                        <i class="fa fa-heart"></i>
                        <span>Like</span>
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="#" class="offset-md-2">
                        <i class="fa fa-comment"></i>
                        <span>Comment</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="offset-md-3">
                        <i class="fa fa-share"></i>
                        <span>Share</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>